# Dependências
node_modules/
/.pnp
.pnp.js

# Arquivos de build
/dist
/build
/out

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
src/server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Arquivos de cache
.cache/
.temp/

# Arquivos de cobertura de teste
/coverage

# Arquivos temporários
*.tmp
*.temp

# Arquivos de upload
/public/uploads/*
!/public/uploads/.gitkeep

# Arquivos de banco de dados
*.sqlite
*.db

# Outros
*.pem
.vercel
.env*.local 